* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    background-color: aqua;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-width: 480px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: solid black 5px;
    flex-direction: column;
    width: 70em;
    min-height: 40em;
}

#question-container {
    width: 800px;
    max-width: 78%;
    border: 2px solid black;
    
}
<<<<<<< HEAD
=======
.hide{
    display: none;
}
>>>>>>> 66a53d145772c4fd470e71cc437c1d75678baee3
